{% extends "medications/base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Manage Medication Refills </h1>
  <p class="lead">Utilize the power of drchrono to manage Rx refills</p>
  <hr class="m-y-2">
  <p>Connect with <a href="https://www.drchrono.com" target="new">drchrono</a> to view, refill, or renew  active prescriptions for your patients.</p>
  <p class="lead">
      <a href="https://drchrono.com/o/authorize?redirect_uri={{redirect}}&client_id={{ client_id }}&scope={{ scope }}&response_type=code">
          <button class="connect"> Log-in with to drchrono to get started! </button>
      </a>
  </p>

{% if messages %}
<div class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> You need to authorize this application with drchrono before proceeding.
</div>
{% endif %}

{% endblock %}
