{% extends "medications/base.html" %}

{% block content %}
<div>
    <h2> Current Patients with Prescriptions </h2>
    {% for patient in patient_info %}
    {% if patient.current_meds %}
    <div class="card-block" style="width: 22rem;">
        <div class="card">
        <h4 class="card-title text-xs-center">{{ patient.name }}</h4>
        <p class="card-text">Some text about patient </p>

        <button class="btn btn-primary medButton" type="button" data-toggle="collapse" data-target="#medicationInfo{{ patient.id }}" aria-expanded="false" aria-controls="collapseExample">
          Click for Medication Options
        </button>

        <div class="collapse" id="medicationInfo{{ patient.id }}">
            <div class="card card-block">

            <ul class="meds">
                {% for med in patient.current_meds %}
                <li> Name: {{ med.med_name }}

                <li class="{{ med.med_id }}"> Refills Remaining <span id="remaining-{{ med.med_id }}"> {{ med.refills }} </span> </li>
                    {% if med.refills < 2 %}
                    <button class="btn btn-primary renewButton" id="renew-{{ med.med_id }}" data-toggle="modal" data-target="#renewModal" data-id="{{ med.med_id}}"> renew options for this Rx </button>
                    {% endif %}

                    {% if med.refills > 0 %}
                    <button class="btn btn-primary refillButton" id="refill-{{ med.med_id }}"> refill this Rx </button>
                    {% endif %}

                </li>
                {% endfor %}
            <ul>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
    {% endfor %}

    </div>
<!-- modal with form for renewing -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="renewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>


</div>

<script>
    $('.refillButton').on('click', function () {
        console.log($(this).attr('id'));
        var refill_selected = $(this).attr('id').substring(7);
        $.post('/medications/process_refill/', {"csrfmiddlewaretoken": "{{ csrf_token }}", "med_id": refill_selected}, function(response){
            console.log(response);
            if (response < 2 && $("#remaining-"+refill_selected).text() > 1) {
                $("."+refill_selected).append(
                    "<button class='renewButton' id='renew-{{ med.med_id }}'> renew options for this Rx </button>"
                );
            }
            $(this).text('Refilled');
            $("#remaining-"+refill_selected).text(response);
            if(response < 1) {
                $("#refill-"+refill_selected).remove();
            }
        })
    });

    // query for form to submit renewal
    $('#renewModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var med_id = button.data('id') // Extract med_id info from data-id attributes
          // AJAX to get form
          $.get('/medications/process_renewal/', {"med_id": med_id}, function(result) {
              console.log(result);
              $(".modal-content").html(result);
          })
    });
    $("#renewModal").on('change', "#id_action_0", function () {
        $("#id_renew_amt").attr("type", "text");
    })
    $("#renewModal").on('change', "#id_action_1", function () {
        $("#id_renew_amt").attr("type", "hidden");
    })

    $("#renewModal").on('submit', "#renewForm", function(evt) {
        console.log('submit');
        evt.preventDefault();
        var data = $('form#renewForm').serialize();
        $.post('/medications/process_renewal/', data, function (response) {
            console.log(response);
            $("#renewModal").modal('hide');
        });
    });

    $("#renewModal").on('click', "#cancel", function () {
        console.log("cancel");
        $("#renewModal").modal('hide');
    })
</script>
{% endblock %}
