{% extends "medications/base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Current prescriptions on file</h1>
        <p class="lead">Refill or renew prescriptions for patients here.</p>
    </div>
</div>

<div class="row">

        <div class="card-columns col-md-12">

        {% for patient in patient_info %}
        {% if patient.current_meds %}

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"> {{ patient.name }} </h4>
                    <p class="card-text"> Some text about patient </p>

                    <button class="medButton" type="button" data-toggle="collapse" data-target="#medicationInfo{{ patient.id }}" aria-expanded="false" aria-controls="collapseExample">
                      Click for Medication Options
                    </button>

                    <div class="collapse card-block" id="medicationInfo{{ patient.id }}">
                        <ul class="meds list-group">
                            {% for med in patient.current_meds %}

                            <li class="{{ med.med_id }} list-group-item">
                                <strong>Medication:</strong> {{ med.med_name }}
                                <br>
                                <strong>Refills Remaining: </strong> <span id="remaining-{{ med.med_id }}"> {{ med.refills }} </span>

                                 <br>

                                 {% if med.refills < 2 %}
                                 <button class="renewButton" id="renew-{{ med.med_id }}" data-toggle="modal" data-target="#renewModal" data-id="{{ med.med_id}}"> renew options for this Rx </button>
                                 {% endif %}

                                 {% if med.refills > 0 %}
                                 <form action="" method="post" id="refillForm">
                                     {% csrf_token %}
                                     <input type="hidden" name="med_id" id="refill-{{ med.med_id }}" value="{{ med.med_id }}"></input>
                                     <input type="submit" value="Refill this Rx" class="refillButton" id="button-{{ med.med_id }}"/>
                                 </form>

                                 {% endif %}

                             </li>
                             <br>

                                <div class="alert alert-danger" role="alert" hidden=true>
                                  <strong>No email on file for patient, please contact via other means</strong>
                                </div>

                            {% endfor %}
                        <ul>

                    </div>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

</div>

<!-- modal with form for renewing -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="renewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>



{% endblock %}
