{% extends "medications/base.html" %}

{% block content %}
<div>
    <h2> DOC ID: </h2>

    <h2> Current Patients for Dr. So-and-So </h2>
<!-- <div class="card-columns"> -->
        {% for patient in patients %}
        <div class="card-block">
            <div class="card" style="max-width: 20rem;">
            <h4 class="card-title">{{ patient.first_name }} {{ patient.last_name }}</h4>
            <p class="card-text">Some text about patient </p>

            <button class="btn btn-primary medButton" type="button" data-toggle="collapse" data-target="#medicationInfo{{ patient.id}}" aria-expanded="false" aria-controls="collapseExample">
              Medication info for this patient
            </button>

            <div class="collapse" id="medicationInfo{{ patient.id }}">
                <div class="card card-block">
                Here we'll show the medication form.
                </div>
            </div>
          </div>
      </div>
        {% endfor %}
  <!-- </div> -->
</div>

</div>

<script>
$('.medButton').on('click', function () {
    var patientId = $('.collapse').attr('id').substring(14);
    console.log(patientId);

  $.get('/medications/patient_detail/', {'patient_id': patientId}, function(result) {
      console.log(result);
  })
})

</script>
{% endblock %}
