{% extends "bdayreminder/base.html" %}

{% block content %}
<div> <h1 class="lead"> Wish Your Patients a Happy Birthday </h1></div>

<div>
    <p> Let your patients know you are paying attention sending them a custom Happy Birthday Message. </p>
</div>

<div>
    <a href="https://drchrono.com/o/authorize?redirect_uri={{redirect}}&client_id={{ client_id }}&response_type=code">
        <button class="btn btn-primary btn-lg"> Log-in with to drchrono to get started! </button>
    </a>
</div>
{% endblock %}
