{% extends "bdayreminder/base.html" %}

{% block content %}

{% if not patients %}
<h1> No Birthdays Today! Check back tomorrow! </h1>


{% else %}
<form action="{% url 'bdayreminder:send_messages' %}" method="post" id="contact_form" class="form-group">

{% csrf_token %}
{% if patients.text %}

<h2> Send Texts </h2>

{% csrf_token %}
    <div>

    {% for person in patients.text %}

        <input type="checkbox" name="patient_text" class="texts" value='{{ person.cell }}, {{ person.name }}' />
        <label>{{ person.name }}: Birthday {{ person.dob }} </label><br />

    {% endfor %}
    {% endif %}
    </div>

{% if patients.email %}

<h2> Send emails </h2>

    <div id="none">
    {% for person in patients.email %}

        <input type="checkbox" class="emails" name="patient_email" value='{{ person.email }}, {{ person.name }}'/>
        <label>{{ person.name }} : Birthday {{ person.dob }} </label><br />

    {% endfor %}
    {% endif %}

    </div>

{% if patients.home_call %}

<h2> Call Patients on Home Phone </h2>

{% for person in patients.text %}

    <label>{{ person.name }}: Birthday {{ person.dob }} </label><br />

{% endfor %}
{% endif %}

{% if patients.no_contact %}

<h2> Patients with No Contact Info on File </h2>

{% for person in patients.no_contact %}


    <label>{{ person.name }}: Birthday {{ person.dob }} </label><br />

{% endfor %}
{% endif %}

<input type="submit" value="Submit"/>
</form>

{% endif %}




<!-- <script>

$("#contact_form").on("submit", function (evt) {
    // send emails and texts to correct routes via ajax
    evt.preventDefault();
    console.log('ajax');
    // list of ids for texts to send
    // var texts = ["(555-555-5555, corey shott)"];
    var texts = [];

    $('.texts:checked').each(function() {
        texts.push($(this).attr('value'));
    });
    // console.log(texts);
    if (texts.length > 0) {
        var postdata={
          'textsSend': texts,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }

        $.post('/send_texts', postdata, function (result) {
            console.log(result);
        });

    };


    // var emailSend = ["(jcshott@gmail.com, corey shott)"];
    var emailSend = [];

    $('.emails:checked').each(function() {
        emailSend.push($(this).attr('value'));
    });

    if (emailSend.length > 0) {

        var postdata={
          'emailsSend': emailSend,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }

        $.post('/send_emails', postdata, function (result) {
            $('body').html(result);
            console.log("emails sent");
        });
    }

    if (emailSend.length === 0  && texts.length === 0){
        console.log("please select");
    }

});


</script> -->


{% endblock %}
